<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permisos para cámara y escáner -->
    <uses-permission
        android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Para escáner Sunmi -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Features opcionales -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <application
        android:label="Fincas"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Intent filter para recibir datos del escáner Sunmi -->
            <intent-filter>
                <action
                    android:name="com.sunmi.scanner.ACTION_DATA_CODE_RECEIVED"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- Receiver para escáner Sunmi (algunos modelos) -->
        <receiver
            android:name=".SunmiScannerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.sunmi.scanner.ACTION_DATA_CODE_RECEIVED"/>
            </intent-filter>
        </receiver>
        <!-- Firebase Messaging - Icono y color de notificaciones -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="apartalo_notifications"/>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
    <queries>
        <intent>
            <action
                android:name="android.intent.action.PROCESS_TEXT"/>
            <data
                android:mimeType="text/plain"/>
        </intent>
        <!-- Para compartir -->
        <intent>
            <action
                android:name="android.intent.action.VIEW"/>
            <data
                android:scheme="https"/>
        </intent>
    </queries>
</manifest>